#hero-998 .cs-topper {
  /* 16px - 31px */
  font-size: 48px;
  white-space: nowrap;
  line-height: 1.2em;
  width: 100%;
  /* 12px - 24px */
  margin: 0 0 clamp(0.75rem, 3vw, 1.5rem);
  color: var(--bodyTextColorWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
  text-transform: none;
  opacity: 0;
  animation: fadeIn 1000ms 300ms ease forwards;
  letter-spacing: -2px;
}

#hero-408 .green-pacifico {
  font-family: "Pacifico", cursive;
  color: var(--primary);
  letter-spacing: -1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
  }

  20% {
    text-shadow: 0 0 4px #fff, 0 0 12px #fff, 0 0 24px var(--primaryLight),
      0 0 30px var(--primaryLight);
    color: var(--primaryLight);
  }
  30% {
    /* text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 4px var(--primaryLight),
        0 0 30px var(--primaryLight); */
    color: var(--primary);
  }
  40% {
    text-shadow: 0 0 4px #fff, 0 0 12px #fff, 0 0 24px var(--primaryLight),
      0 0 30px var(--primaryLight);
    color: var(--primaryLight);
  }
  50% {
    /* text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 4px var(--primaryLight),
        0 0 30px var(--primaryLight); */
    color: var(--primary);
  }
  100% {
    text-shadow: 0 0 4px #fff, 0 0 12px #fff, 0 0 20px var(--primaryLight),
      0 0 30px var(--primaryLight);
    color: var(--primaryLight);
  }
}

#hero-408 .flicker {
  font-size: 56px;
  animation: flicker 1s 1000ms ease forwards 1;
}
